* {
    font-family: sans-serif;
}

#heading-bar-container {
    width: 100%;
}

#head_image_three {
    float: right;
}

nav {
    background-color: lightgray;
    width: 100%;
    margin-top: -20px;
}
#navbar {
    text-decoration: none;
    height: 50px;
    text-align: left;
}

#navbar li {
    display: inline-block;
    margin: 0px 15px;
    padding-top: 15px;
    color: darkgrey;
}


#weather_report ul {
list-style-type: none;
display: inline-block;
}
#weather_report {
clear:both;
}
 #moon{
  margin-left: 54px;
  margin-right:300px;   

}
