/*Global styles*/
* {
    font-family: sans-serif;
}

/*Header styles*/
#heading-bar-container {
    width: 100%;
}

#head_image_three {
    float: right;
}

nav {
    background-color: lightgray;
    width: 100%;
    margin-top: -20px;
}
#navbar {
    text-decoration: none;
    height: 50px;
    text-align: left;
    margin-bottom: 10px;
}

#navbar li {
    display: inline-block;
    margin: 0px 15px;
    padding-top: 15px;
    color: darkgrey;
}



#weather_report ul {
list-style-type: none;
display: inline-block;
}
a {
   color:blue; 
}
#weather_report {
clear:both;
}
 #moon{
  margin-left: 54px;
  margin-right:300px; 
 }  

#blue-header {
    margin-top: -10px;
    color: navy;
}
#weekly_outlook {   
    padding: 10px;
    
}
#weekly-header-container {
    background-color: lightgray;
    border: 2px solid lightgray;
    width: 100%;
    height: 70px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
#forcast-container {
    border: 2px solid lightgray;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
.hour-forcast-container {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px 15px;
}
.day {
    font-weight: bold;
}
.red-temp {
    color: red;
}

.blue-temp {
    color: lightskyblue;
}

/*Main/Div styling*/
#search_container {
    display: inline-block;
    width: 40%;
    margin-right: 0px;
}

article h3 {
    margin: 5px 5px;
    font-size: 20px;
}

#rain_article {
    float: right;
    width: 55%;
    font-size: 15px;
}

input {
    width: 100px;
    height: 35px;
    font-size: 25px;
    -webkit-appearance: none;
}

button {
    height: 30px;
    width: 50px;
    margin-bottom: 3px;
}

#local_office {
    margin: 10px 0px 5px 0px;
    font-size: 15px;
}


#seattle_link {
    margin: 5px 0px 25px 0px;
}

#view_location {
    font-size: 15px;
}

#espanol {
    margin-top: 20px;

}
